# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.swp

# Virtual environment
venv/
ENV/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# VSCode
.vscode/

# GitHub runner temp files
*.zip
*.tar.gz

# System files
.DS_Store

# Vagrant and VirtualBox
.vagrant/
*.box

# Python specific
*.log

# GitHub Actions
actions-runner/

# Ansible
*.retry
.vagrant/
