[Unit]
Description=Flask App
After=network.target

[Service]
User=vagrant
WorkingDirectory=/home/vagrant/flask-app
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target
