[Unit]
Description=Flask Application
After=network.target

[Service]
User=rohan
WorkingDirectory=/home/rohan/flaskapp
ExecStart=/usr/bin/python3 /home/rohan/flaskapp/main.py
Restart=always

[Install]
WantedBy=multi-user.target
